*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    width: 94%;
    height: 100%;
    margin: 0 3%;
}
.header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.header img{
    width: 90%;
    margin: 10px auto;
}
.fenduoMassage{
    display: inline-block;
}
